#contents{
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

#contents>#main_section{
    width: 960px;
    float: center;
}

#main_section>article.main_article{
    margin-bottom: 10px;
    padding: 100px;
    
    
}
#main_section>article.main_article>h1{
    font-size: 30px;
    margin-bottom: 50px;
}
.red{
    color: #A63247;
    font-size: 46px;
}
.yellow{
    color:#F2DF80;
    font-size: 40px;
}
h2{
    margin-top: 20px;
    font-family: '본문';
}
p{margin-top: 20px;}